html {
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 20px;
}

.equal {
  grid-row-start: 2;
  grid-row-end: 6;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 4;
}